<div class="page-header">
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-sm btn-default' do %>
    <%%= fa_icon "list-alt", text: "Volver" %>
  <%% end %>
  <h4>Nuevo <%= singular_table_name %></h4>
</div>

<%%= render 'form' %>
